@import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Mooli&family=Roboto:wght@100;300;500;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #F6F8FC;
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #FFF;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}



